{% extends 'base.html.twig' %}

{% block content %}
    <h1>Liste des auteurs</h1>
    <ul>
    {% for auteur in auteurs %}
        <li>
            {{ auteur.name }}
            <a href="{{ path('app_author_edit', {author: auteur.id}) }}">Editer</a>
            <a href="{{ path('app_author_delete', {author: auteur.id}) }}">Supprimer</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}